VPN_USER=<VPN_USER>
VPN_PASS=<VPN_PASS>

QBIT_USER=<QBIT_USER>
QBIT_PASS=<QBIT_PASS>

NGINX_VERSION=1.31.1
DUCKDNS_VERSION=0ecffdc7-ls81
JELLYFIN_VERSION=10.11.10
SEERR_VERSION=v3.2.0
PROWLARR_VERSION=2.3.5
RADARR_VERSION=6.1.1
SONARR_VERSION=4.0.17
GLUETEN_VERSION=v3.41.1
QBITTORRENT_VERSION=5.2.0
FLARESOLVERR_VERSION=3.5.0