# VPN credentials
VPN_USER=<VPN_USER>
VPN_PASS=<VPN_PASS>

# QBitTorrent default credentials
QBIT_USER=<QBIT_USER>
QBIT_PASS=<QBIT_PASS>

# Application versions
NGINX_VERSION=1.31.1
DUCKDNS_VERSION=0ecffdc7-ls81
JELLYFIN_VERSION=10.11.10
SEERR_VERSION=v3.3.0
PROWLARR_VERSION=2.4.0
RADARR_VERSION=6.2.1
SONARR_VERSION=4.0.17
GLUETEN_VERSION=v3.41.1
QBITTORRENT_VERSION=5.2.0
FLARESOLVERR_VERSION=v3.5.0

# Jellyfin published URL
JELLYFIN_PUBLISHED_URL=http://<DUCKDNS_DOMAIN>.duckdns.org

# DuckDNS credentials
DUCKDNS_DOMAIN=<DUCKDNS_DOMAIN>
DUCKDNS_TOKEN=<DUCKDNS_TOKEN>